<ng-container *ngIf="this.reportRemoved | async">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    The Call Has Been Successfully Removed.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>
<div class="card custom-card text-center shadow-sm mb-3" style="height: 21rem; width: 15rem"  [routerLink]=this.path> 
    <div class="row h-100 align-items-center">
      <div class="col" >
        <img  src='{{this.Image}}' [width]="150" [height]="150">

      
        <p class="report-link">  
            {{this.Title}}
        </p>
      

        
        <p class="custom-text">{{this.Details}}</p>
        <p class="contact">{{this.Contact}}</p>
        
        <button type="button" class="btn btn-danger" 
          (click)="deleteReportcall(this.Title)">Delete</button>
        
          <p class="id">ID: {{this._id}}</p>
      </div>

    </div>
    <br>
   

</div>
